.container-block {
    margin-top: 100px;
}

.admin-user-lookup-info {
    font-weight: bold;
}

.admin-block-info {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 30px;
}

.admin-control-header {
    text-decoration: underline;
    font-weight: bold;
}

.event-row-header {
    font-weight: bold;
}

.label-inline {
    display: inline-block;
    width: 150px;
    text-align: left;
}

.login-form {
    text-align: center;
}

.login-error {
    text-align: center;
    color: #cc0000;
    font-weight: bold;
}

.login-header {
    text-align: center;
}

.container-block {
    margin-bottom: 50px;
}

.main-information-table-wrapper {
    overflow-y: scroll;
    height: 50vh;
    margin: auto;
    margin-right: 0;
}

.main-information-table-wrapper h3 {
    text-align: center;
}

.main-table-info {
    width: 100%;
    padding-right: 17px;
    box-sizing: content-box;
}

.data-controls {
    margin: auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dynamic-form {
    margin: auto;
    text-align: center;
}

.info-display-controls-wrapper {
    text-align: center;
}

.info-display-controls {
    width: 100%;
    margin-bottom: 20px;
}

.data-form {
    display: inline-block;
}

.form-data-submit {
    width: 100%;
}

.navbar {
    /*display: none;*/
}

.events-page-header, .registration-page-header {
    text-align: center;
    margin-bottom: 20px;
    text-decoration: underline;
}

button {
    margin-right: 10px;
}

.registration-table-wrapper {
    margin-bottom: 50px;
}

.register-forms {
    text-align: center;
    margin-bottom: 50px;
}

.no-registered-events-msg {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

audio {
    display: none;
}

@media screen and (min-width: 1200px){
    body .container {
        max-width: 1300px;
    }
}