.admin-user-lookup-info {
    font-weight: bold;
}

.admin-block-info {
    margin-bottom: 20px;
    display: inline-block;
    margin-right: 30px;
}

.admin-control-header {
    text-decoration: underline;
    font-weight: bold;
}

.event-row-header {
    font-weight: bold;
}

.label-inline {
    display: inline-block;
    width: 80px;
    text-align: left;
}

.login-form {
    text-align: center;
}

.login-error {
    text-align: center;
    color: #cc0000;
    font-weight: bold;
}

.login-header {
    text-align: center;
}

.container-block {
    margin-bottom: 50px;
}

.logout-button {
    padding: 10px;
    background-image: linear-gradient(to bottom, #3399aa, #4A18DF);
    font-size: 30px;
    color: #f8f8f8;
}

.logout-button:hover {
    color: #f8f8f8;
    text-decoration: none;
}

.logout-button-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

audio {
    display: none;
}

@media screen and (min-width: 1200px){
    body .container {
        max-width: 1300px;
    }
}